extends layout

block content
    div.row.white-text.squipped
        div.col-lg-12.panel.panel-default
            h4(style='color: #ffffb3') We are opening at 31 march. You can send request for getting free month subscribing!
    div.row
        div.col-lg-6
            div.panel.panel-default
                div.panel-heading
                    span: b Posts
                div.panel-body
                    ul.list-group
                        each post, i in posts
                            li.list-group-item
                                i.pull-right.post-date #{post.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                                h3: b #{post.caption}
                                p!= post.preview
                                if (user)
                                    a(href="/posts/" + post._id) Learn more...
                                else
                                    span.label.label-danger: a(href='/users/login').tologin Please Login to view more...
                    div
                        a(href='/posts/all'): b More posts...
        div.col-lg-4
            div.panel.panel-default
                div.panel-heading
                    span: b News
                div.panel-body#news-div

                    // news list

        div.col-lg-2
            div.panel.panel-default
                div.panel-heading
                    span: b Courses
                div.panel-body
                    img(src='/img/logo.png' width='100')
                    br
                    if (user)
                        div#courses
                    else
                        span.label.label-danger: a(href='/users/login').tologin Please Login to view more...