extends ../layout

block content
    h2 Analyzes
    div.row
        div.col-lg-6
            div.panel.panel-default
                div.panel-heading
                    h4: b Technical
                div.panel-body
                    h5 no data yet
        div.col-lg-6
            div.panel.panel-default
                div.panel-heading
                    h4: b Fundamental
                div.panel-body
                    h5 no data yet