extends ../layout

block content
    if (user)
        div.row
            div.col-lg-8
                h1= post.caption
                hr
                p!= post.text
                hr
                h5.label.label-info Written by &nbsp;
                    b #{username}
                if (user && user.status > 2)
                    if user._id === post.author
                        a.btn.btn-default(href='/posts/edit/'+post._id) Edit
                        a.btn.btn-danger.delete-post(href='#', data-id=post._id) Delete
            div.col-lg-offset-4
    else
        a.btn-sm.btn-default(href='/users/login') Please login to view details.