extends ../layout

block content
    h2 Strategies
    p There are several strategies from us.
        span(style='color:red; font-size: 14px;font-weight: bold') &nbsp;Please use it at your own risk!
    div.row
        div.panel.panel-default.pull-left.botblock
            div.panel-heading
                h3: a(href='/strategies/data/cci') CCI
            div.panel-body
                p The CCI, or Commodity Channel Index, was developed by Donald Lambert, a technical analyst who originally published the indicator in Commodities magazine (now Futures) in 1980.