div.form-group-sm
    label Preview text:
    textarea.form-control(name='preview', rows='5').botcode
div.form-group-sm
    label Body text:
    br
    span.hint [parameter] = value
    textarea.form-control(name='body', rows='15').botcode